/* Arrière plan */
body
{
background-image: url(Images/Group\ 2.png);
background-size: 63%;
top: 0;
left: 0;
}
/* Style */
.Texte1
{
    color: azure;
    font-size:xx-large;
}

.Texte2
{
    color: azure;
    font-size:xx-large;
}
/* Balises de position */
.aligner
{
    margin: auto;
  width: 50%;
  padding: 10px;
}

.centrer
{
  margin: auto;
  width: 80%;
  padding: 20px;
}

.centrer2
{
  margin: auto;
  width: 90%;
}

.centrer3
{

  margin: auto;
  width: 100%;
}

.Box
{
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  margin: auto;
  width: 80%;
  padding: 30px;
}

.Marge
{
  margin-right: 5%;
}

.bck-image
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: flex-start;
  align-items: flex-start;
  
     padding-top: 9%;
     width: 110%;
     background-image: url(Images/Group\ 9.png);
     background-size: 70%;
     background-repeat: no-repeat;
}